body {
  background-color: #fffff8;
  color: #111111  !important;
  font: "Inter", "Inter UI";
}

#profile  p {
  text-align: justify;
}

.recentPosts {
  text-align: center;
}

.recentPosts div{
  margin: 16px 0;
}

#contentBody img {
  display: inherit;
  width: 75%;
  height: auto;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 40px;
}

#contentBody a {
  text-align: center;
}

figcaption {
  text-align: center;
  padding-top: 16px;
  font-size: 0.8em;
}

