body {
  background-color: #fffff8;
  color: #111111  !important;
  font: "Inter", "Inter UI";
}

#profile  p {
  text-align: justify;
}

#contentBody img {
  display: inherit;
  width: 75%;
  height: auto;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
