<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div id="profileContainer">
      <div id="profile">
        <header>
          <div class="avatar">
            <img class="avatarMask" src="/img/{{ .Site.Params.avatar }}" alt="Me with a squid on my head">
            <img src="/img/avatar-border.svg" alt="avatar-border">
          </div>
          <h1 class="author">{{ .Site.Params.Author }}</h1>
        </header>

        <p>Hi! I'm a Software Developer and Tech Lead with over a decade and a half of experience working in the Open Data and Civic Tech fields. I am an enthusiast of the Open Web, specially the communities built around Open Source projects and open standards.</p>

        <p>I'm part of the Tech Team maintaining <a href="https://ckan.org">CKAN</a>, an open source platform for building data portals, and I take care of some of its most popular extensions. I used to work at the <a href="https://okfn.org">Open Knowledge Foundation</a>, leading the tech side of many projects that help make data openly available. I'm taking a break now but if you have a job opportunity where you think I could be a good fit let me know!</p>

        <p>After spending many years living in the great city of <a href="https://en.wikipedia.org/wiki/Newcastle_upon_Tyne">Newcastle upon Tyne</a>, I moved back to my hometown <a href="https://en.wikipedia.org/wiki/Tarragona" title="Wikipedia page for Tarragona">Tarragona</a>, where I'm currenty based.</p>
        <!-- navigation -->
        <nav>
          <ul>
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}" aria-label="{{ .Identifier }}" title="{{ .Identifier }}">{{ .Pre }}<br>{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </nav>

        <hr class="separator">

        <h2>Blog posts</h2>

        <div id="contentsList" class="recentPosts">
          {{ $listPageDateFormat := .Site.Params.listPageDateFormat | default "January, 2006"}}
          {{ range $index, $value := ( .Site.RegularPages.GroupByDate $listPageDateFormat) }}
          {{ if (ne $index 0) }}
          <hr class="separator"/>
          {{ end }}
          <div class="date">{{ .Key }}</div>
          {{ range .Pages }}
            <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
          {{ end }}
          {{ end }}
        </div>



      </div>

    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
